services:
  asterisk:
    image: andrius/asterisk:latest
    container_name: asterisk
    hostname: asterisk
    ports:
      - "5080:5080/udp"
      - "5080:5080/tcp"
      - "10000-10099:10000-10099/udp"
    restart: unless-stopped
