services:
  freeswitch:
    image: safarov/freeswitch:latest
    container_name: freeswitch
    hostname: freeswitch
    network_mode: host
    environment:
      - FREESWITCH_HOSTNAME=freeswitch
      - EXTERNAL_IP=localhost
    volumes:
      - ./freeswitch/conf:/etc/freeswitch:rw
    restart: unless-stopped
